/*-=-=-=-=-=-=-=-=-=-*/
/* GENERAL STYLES */
/*-=-=-=-=-=-=-=-=-= */

#container {
	width:  100%;
	margin: 0 auto;
}

#div-tanken {
	position: relative;
	/*height: 200px;*/
	width: 100%;
}
.wow-tanken{
	visibility: visible;
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	animation-delay: 0.1s;
}
.section--yellow {
	background-color: #F4E9B4;
}

.col_third section { margin: 0; }
.col_third { width: 23%; }
.col_third{
	position: relative;
	display:inline;
	display: inline-block;
	float: left;
  margin-right: 0%;
  margin-left: 1%;
	margin-bottom: 20px;
}
.end { margin-right: 0 !important; }
