@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
/*Usuarios -1*/
.centers{
  text-align:center;
}
.blanco {
  background-color: #ffffff;
}
.border-usuario{
  border-right: 1px solid #cccccc;
}
.text-usuario p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-left: 30px;
  padding: 20px 0 20px 0;
}
.text-usuario i{
  color:#2d99d5;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 20px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.text-color{
  color:#2d99d5;
  font-family: 'Open Sans', sans-serif;
}
/*Fin Usuarios -1*/
