/*ESTeban Velo*/

/*home*/
body, p, span, ul, li, nav,a, button, input{
    font-family:'Open Sans' ,sans-serif;
   /* font-weight: 400;*/
   /* overflow-x: hidden;*/
   /* overflow-y: auto;*/
}
.mylisti ul li{
    overflow-y: inherit;
    overflow-x: initial;
}
/*.main-sidebar {
    width: 250px;
}
.content-wrapper, .main-footer {
    margin-left: 250px;
}*/

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
}
.content-wrapper {
    background-color: #fff;
}
.rotar{
	transform: rotate(90deg);
}
/*menu*/
.color-azul{
    color:#2d99d5;
    font-size: 20px;
    padding-top: 6px;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #ebebeb;
    overflow-y: hidden;
}
.sidebar-menu>li {
    border: solid 1px #d9d9d9;
    border-right: none;
}
.prueba{
    color:red;
    background: gray;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
    color: #fff;
    background: url(img/liston.png) center center no-repeat;
    background-size: cover;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a i{
    color: #fff;
}

.skin-blue .sidebar a {
    color: #4d4e4e;
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    color: #2d99d5;
}
.sidebar-menu>li:hover>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    color: #fff;
}
.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
    background-color: #fff;
}
.skin-blue .sidebar-form {
    border-radius: 0px;
    border: 1px solid #cecece;
    margin-top: 28px;
    margin-bottom: 28px;
}
.skin-blue .main-header .logo {
    background-color: #fff;
}
.skin-blue .main-header .logo:hover {
    background-color: #fff;
}
.skin-blue .main-header .navbar {
    background-color: #fff;
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color: #3a9fd8;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    color: #3a9fd8;
    background: rgba(0,0,0,0.1);
}
.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
    box-shadow: #d9d9d9 0px 14px 19px;
}
.skin-blue .main-header .navbar .nav>li>a {
    color: #08090a;
}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a {
    background: rgba(0,0,0,0.1);
    color: #08090a;
}
.label-success {
    background-color: #29a8e0 !important;
    border-radius: 50%;
}
.notificaciones-all{
    float: right;
}
.notificaciones-all a{
    color:#444444;
}
.navbar-nav>.notifications-menu>.dropdown-menu, .navbar-nav>.messages-menu>.dropdown-menu, .navbar-nav>.tasks-menu>.dropdown-menu {
    width: 350px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
}
.borde-notificaciones{
    border: 6px solid #f1f1f1;
}

.fondo-notificacions{
    background-color: #f1f1f1 !important;
}
.color-span{
    color: #989799;
}
.align-text{
    padding-left: 23px;
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li:not(.treeview)>a>span span{
    display: none;
}
/*index*/

.centrado{
    text-align: center;
}
.small-box>.inner {
    padding: 10px;
    text-align: right;
    border-radius: 0 18px 0 0;
}
.small-box h3 {
    font-weight: 300;
}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: transparent !important;
}
.resumen{
    position: absolute;
    left: 0px;
    top: 10px;
}
.uno{
    background:#29a8df;
    height: 110px;
}
.dos{
    background: #f36a5a;
    height: 110px;
}
.tres{
    background:#33c5d2 ;
    height: 110px;
}
.cuatro{
    background:#8f44ad ;
    height: 110px;
}
.cinco{
    background:#3598dc ;
    height: 110px;
}
.seis{
    background:#e87e04 ;
    height: 110px;
}
.siete{
    background:#1bbc9b ;
    height: 110px;
}
.ocho{
    background:#9b59b6 ;
    height: 110px;
}

.nueve{
    background:#578ebe ;
    height: 110px;
}
.diez{
    background:#f3c200 ;
    height: 110px;
}
.once{
    background: #f36a5a;
    height: 110px;
}
.doce{
    background: #32c4d2;
    height: 110px;
}
table.dataTable {
    white-space: nowrap;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.mytabs tr th,a{
    font-weight: 400;
    color: #808080;
    /*text-align: center;*/
}
.mytabs tr th:first-child{
    color: #3598dc;
    font-weight: 400;
}
.mytabs tr th a:first-child{
    color: #3598dc;
    font-weight: 400;
}
div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: inherit;
}
.botonActividad{
    background: #2d9ad5;
    color: #fff;
    padding: 7px;
    border: solid 1px #2d9ad5;
    margin: 20px 0;
    text-align: center;
}
.botonActividad:hover{
     background: #fff;
    color: #2d9ad5;
}

.sidebar-collapse #negro li:hover>a{
    color: #fff;
    background: #2d99d5 !important;
}
.sidebar {
    padding-bottom: 10px;
    margin-top: 20px;
}
.small-box h3 {
    font-size: 36px;
}
.absoluto{
    /*position: absolute;*/
}
.punto{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: relative;
    right: 31px;
    top: 22px;
}
.Azul{
    background: #2d9ad5;
}
.Rojo{
    background: #e74f5b;
}
.Verde{
    background: #33c5d2;
}
/*tags*/
.linea{
    display: inline-block;
}
.linea2{
    display: inline-block;
    float: right;
    margin: 0 10px;
    width: 15%;
}
.form-control {
    border-color: #2d99d5;
}
.no{
    border-top: none;
}
.separacion tr th{
    border-right: solid 2px #ccc;
}
.r{
    font-size: 15px;
    color: #000;
}
.mayor{
    color: #3ea1d8;
    font-size: 17px;
}
/**/

/*TAG2*/

.id{
    color: #2d99d5;
    font-weight: 700;
    padding: 21px 0 10px 20px;
}
.size{
    min-height: initial;
}
.sin-espacio ul{
    -webkit-padding-start: 2px;
    padding-left: 1px !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #fff;
    cursor: default;
    background-color: #2d99d5;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
}
.nav>li>a:hover, .nav>li>a:active, .nav>li>a:focus {
    color: #fff;
    background: #2d99d5;
}
.enlinea li{
    display: inline-block;
    font-weight: 700;
    border-right: solid 1px gray;
    padding: 21px;
    width: 23%;
    text-align: center;
}
.enlinea li:last-child{
    border-right: none;
}
.enlinea li span{
    font-weight: 500;
}
.tag2{
    position: relative;
    top: 0px;
}
/*tag vinculados*/
.button-vinculado{
    background: #2d9ad5;
    color: #fff;
    font-size: 15px;
    padding: 5px 13px;
    height: 35px;
    border: 0px;
    font-weight: 600;
    width: 100%;
}
.button-vinculado i{
    padding-right: 5px;
}
.button-vinculado:hover{
    background: #fff;
    color: #2d9ad5;
    border:solid 1px #2d9ad5;
}
.button-vinculado2{
    background: #fff;
    color: #2d9ad5;
    font-size: 15px;
    padding: 5px 13px;
    height: 35px;
    border: 1px solid #2d9ad5;
    font-weight: 600;
    width: 100%;
}
.button-vinculado2 i{
    padding-right: 5px;
}

.button-vinculado2:hover{
    background: #2d9ad5;
    color: #fff;
}
.derecha{
    text-align: right;
}
.separacion-tag{
    margin: 40px 0 20px;
    padding: 0px;
}
.sin-padding{
    padding: 0px !important;
}
.listas-fijas{
    width: 210px;
}
.editar-tag {
    background: #57adde;
    color: #fff;
    text-align: center;
    margin: 0px;
    padding: 8px 0;
    border: solid 1px #57adde;
}
.editar-tag:hover{
    background: #fff;
    border: solid 1px #57adde;
    color:#57adde;
}
/*afecta al segundo elemento del mismo tipo*/

th.segundo + th{
    color: #3598dc;
    font-weight: 400;
}
/*checkbos*/

.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #428bca;
  border-color: #428bca; }
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; }


/*susses*/
.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #2b99d4;
  border-color: #2b99d4; }
.checkbox-success input[type="checkbox"]:checked + label::after {
  color: #fff; }

/*fin check*/
/*finanzas*/
.skin-blue .sidebar-menu>li>.treeview-menu {
    margin: 0 1px;
    background: none;
}
.skin-blue .sidebar-menu .treeview-menu>li>a {
    color: #505050;
    background: #f9f9f9;
    height: 40px;
    padding: 12px;
}
.skin-blue .sidebar-menu .treeview-menu>li.active>a, .skin-blue .sidebar-menu .treeview-menu>li>a:hover {
    color: #fff;
    background: #145572;
    height: 40px;
    padding: 12px;
}
.grafica1{
   height: 50vh;
   /*width: 100%;*/
}
#container1 div canvas {
    width: 100% !important;
}
#area-chart,
#area2-chart{
  min-height: 270px;
}
.flotilla{
  font-size: 14px;
}
.borde-index{
  border:1px solid #d7d7d7
}
.border-abajo{
  border-bottom:1px solid #d7d7d7;
  text-align: left;
  margin-bottom: 10px;
  width: 100%;
}
.color-azul1 {
  color: #2d99d5;
  font-size: 20px;
  padding-top: 6px;
  margin-bottom: 25px;
}
.saldo-promedio {
  float: right;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  padding: 10px 20px;
  background: #29a8df;
}
/*perfil uno*/
.bloque-perfil{
    display: inline-grid;
}
.bloque-perfil li{
    width: 100%;
}
.centrado-usu{
    text-align: center;
}

.centrado-usu p{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 0px;
}

.centrado-usu p span{
    color:#2d99d7;
}
.circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 2px #3a9fd5;    
    margin: 27px;
}
.cuadro{
    border: solid 2px #cacaca;
    padding: 0 0 80px 0; 
} 
.top{
    border-top: none;
}

div.tab {
    padding: 0px;
}

/* Style the buttons inside the tab */
div.tab button {
    color:#7f7f7f;
    text-align: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    background: #fff;
    width: 100%;
}

div.tab button i{
    color:#2d9ad5;
}

/* Change background color of buttons on hover */
div.tab button:hover, button:focus {
     color: #2e98d2;
    cursor: default;
    background-color: #d5ebf8;
    /*border: 1px solid #ddd;
    border-bottom-color: transparent;*/
    border-left: solid 3px #2e98d2;

}

/* Create an active/current tablink class */
div.tab button.active {
     color: #2e98d2;
    cursor: default;
    background-color: #d5ebf8;
   /* border: 1px solid #ddd;
    border-bottom-color: transparent;*/
    border-left: solid 3px #2e98d2;
}
/* Style the tab content */
.tabcontent {
    display: none;
    /*padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;*/
   -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.pad_top{
    padding-top: 0px;
}
.resumen2{
    top: 33px;
}

 .mytabs2 tr th:first-child {
    text-align: left;
}


.scroll{
    height: 500px;
    overflow: scroll;
    overflow-x: hidden;
}
/*segundas taps*/
.linea_Cuenta{
    border-bottom: solid 1px #a6a6a6;
}

.nopadding_tabs{
    padding: 0px;
}

.sinpadding2{
    padding: 0px;
}
/*segundos botone*/

div.tab2 button {
    color:#7f7f7f;
    text-align: left;
    border: solid 3px transparent;
    outline: none;
    cursor: pointer;
    padding: 10px;
    transition: 0.3s;
    background: #fff;
    width: 100%;
    text-align: center;
}
/* Change background color of buttons on hover */
div.tab2 button:hover, button:focus {
    color: #2e98d2;
    cursor: default;
    background-color: none;
    /*border: 1px solid #ddd;
    border-bottom-color: transparent;*/
    /*border-left: solid 3px #2e98d2;*/

}

/* Create an active/current tablink class */
div.tab2 button.active {
    color: #2e98d2;
    cursor: default;
    background-color:none;
   /* border: 1px solid #ddd;
    border-bottom-color: transparent;*/
    border-bottom: solid 3px #2e98d2;
}


.tabsC{
    display: none;
    /*padding: 6px 12px;
    border: 1px solid #ccc;
    border-top: none;*/
   -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

.bottom-line{
    position:relative;
    cursor:pointer;
}
.bottom-line::after{
    content: "";
    position: absolute;
    height: 5px;
    bottom: -4PX;
    left: 0px;
    background-color: #2d9ad5;
    transform: scaleX(0.0);
   /* opacity: .8;*/
    width:100%;
    transition: all .3s ease-in-out 0s;
}
.bottom-line:hover::after{
    transform:scaleX(1.0);
}
/*Styling to shape layout page*/
.formulario_uno{
    color: #7f7f7f;
    margin-top: 30px;
}
.formulario_uno div{
    margin: 10px 0;
}
.formulario_uno p{
    color: #7f7f7f;
    text-align: right;
}
.formulario_uno input[type="text"]{
    width: 100%;
    height: 30px;
    padding-left: 10px;
}
.formulario_uno button{
    color: #fff;
    padding: 5px 30px;
    border: 1px solid transparent;
}
.colorboton1{
    background: #2d9ad5;
}
.colorboton2{
    background: #808080;
}

.formulario_uno button:hover{
    color: #2d9ad5;
    border-color:#2d9ad5;
    background: transparent;;
}
.img_avatar{
    text-align: center;
    border:solid 1px #bfbfbf;
    margin: 10px 0 10px 0;
}
/*previsualizacion*/
.thumb{
    width: 100%;
    border:solid 1px #bfbfbf;
    margin: 10px 0;
}
/**/
.btn-tertiary {
    color: #fff;
    padding: 0;
    line-height: 40px;
    width: 100%;
    margin: 0;
    display: block;
    border: 2px solid #2d9ad5;
    background: #2d9ad5;
}
.btn-tertiary:hover, .btn-tertiary:focus {
  color: #2d9ad5;
  background: #fff;
}

/* input file style */
.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input-file + .js-labelFile {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0px;
  cursor: pointer;
}
.input-file + .js-labelFile .icon:before {
  content: "\f093";
}
.input-file + .js-labelFile.has-file .icon:before {
  content: "\f00c";
  color: #5AAC7B;
}

.btn_avatar{
    text-align: center;
    color: #fff;
    width: 100%;
    height: 45px;
    border: solid 1px transparent;
}
.btn_avatar:hover{
    background: #fff;
    color: #2d9ad5;
}
.btn_avatar_rojo{
    background: #e74f5b;
}.btn_avatar_rojo:hover{
    border-color:  #e74f5b;
}
.btn_avatar_gris{
    background: #808080;
}
.btn_avatar_gris:hover{
    border-color: #808080;
}
.padding-no{
    padding: 0px;
}

.padding-derecho{
    padding: 0 6px 0 0;
}
.padding-dizquierdo{
    padding: 0 0 6px 0;
}
/*fin

/*medias*/
@media only screen and (min-width: 1600px) and (max-width: 1700px){
.circle {
    width: 100px;
    height: 100px;
    margin: 20px 0px;
}
}
@media only screen and (min-width: 1400px) and (max-width: 1600px){
.circle {
    width: 100px;
    height: 100px;
    margin: 20px 0px;
}
}
@media only screen and (min-width: 1300px) and (max-width: 1400px){
.circle {
    width: 100px;
    height: 100px;
    margin: 20px 0px;
}
}
@media only screen and (min-width: 1200px) and (max-width: 1300px){
.circle {
    width: 100px;
    height: 100px;
    margin: 20px 0px;
}

.pading_cero{
    padding: 0px;
}

}
@media only screen and (min-width: 992px) and (max-width: 1200px){
.small-box h3 {
    font-size: 35px;

}
.enlinea li {
    padding: 16px 0px;
    width: 45%;
}

.pading_cero{
    padding: 0px;
}
.titulos_perfil{
    font-size: 20px !important;
}
/*fin*/
}

@media only screen and (min-width:768px) and (max-width:992px){
.small-box h3 {
    font-size: 33px;
}
.resumen {
    height: 80px;
    top: 18px;
}

/*tag2*/
.enlinea li {
    display: inline-block;
    font-weight: 700;
    border-right: solid 1px gray;
    padding: 11px 0px;
    width: 48%;
    text-align: left;
}
.tag2 {
    position: relative;
    top: 0px;
    width: 30%;
}

/*home*/
.uno, .dos, .tres,.cuatro, .cinco, .seis, .siete, .ocho, .nueve, .diez, .once, .doce{
   height: 100px;
}
/*vinculado*/
/*perfil*/
.sinpaddig-perfil{
    padding: 0px;
}
.margen_top{
    margin-top: 15px;
}
/*fin*/
}

@media only screen and (min-width:600px) and (max-width:768px){
.small-box h3 {
    font-size: 30px;
}
.resumen {
    height: 60px;
    top: 33px;
}
.enlinea li {
    display: inline-block;
    border-right: none;
    padding: 0px;
    width: 100%;
    text-align: left;
}
.tag2 {
    position: initial;
    width: 47%;
    float: none;
    margin: 0 2px;
}

/*perfil*/
.sinpaddig-perfil{
    padding: 0px;
}
.margen_top{
    margin-top: 15px;
}
/*fin*/
}
@media only screen and (min-width:200px) and (max-width:600px){
.small-box h3 {
    font-size: 25px;
}
.small-box>.inner {
    padding: 10px;
    text-align: center;
}
.resumen {
    display: none;
}
.size-titulo{
    font-size: 20px;
}

/*home*/
.uno, .dos, .tres, .cuatro, .cinco, .seis, .siete, .ocho, .nueve, .diez, .once, .doce{
   height: 90px;
}
/*tag 2*/
.enlinea li {
    border-right: none;
    padding: 0px;
    width: 100%;
    text-align: left;
}
.tag2 {
    position: initial;
    width: 47%;
    float: none;
    margin: 0 2px;
}

/*grafica*/
.grafica1 {
    height: 40vh;
    /*width: 100%;*/
}
/*perfil*/
.sinpaddig-perfil{
    padding: 0px;
}
.margen_top{
    margin-top: 15px;
}
/*perfil*/
.formulario_uno p {
    text-align: center;
}
.formulario_uno div {
    margin: 1px 0;
}

.pading_ceroP{
    padding: 0px;
}
/*fin*/
}

/*fin
