/*Jorge Velosoft*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
.nomargin{
  margin: 0px;
}
.nopadding{
  padding: 0px;
}
/*tabla*/
.centers{
  text-align:center !important;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 20px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
  border-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.nav-tabs>li>a {
  color: #000;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid #d3dbdf;
  border-radius: 0;
}
/*Tabla*/
/*Home*/
.añadir-gasolinera {
  float: right;
  font-size: 16px;
  color: #fff;
  font-weight: 300;
  padding: 10px 20px;
  background: #2d9ad5;
}
.añadir-gasolinera:hover {
  color: #2d9ad5;
  background: #fff;
  border: 1px solid #2d9ad5;
}
.azul-circulo {
  color: #2d99d5;
  font-size: 5px;
  padding-top: 6px;
}
.margin-circulo{
  margin-top: 20px;
}
.bottom-20{
  margin-bottom: 25px;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 225px;
  margin-bottom: 0;
}
.grafica-color{
  background: #e5e5e5;
  width:180px;
  height:125px;
  border:1px solid #000;
  float:right;
}
.grafica-fecha{
  text-align:center;
  margin-top:5px;
}
.color-1{
  background: #62bae0;
  width:5px;
  height:5px;
}
.color-2{
  background: #f36a5a;
  width:5px;
  height:5px;
}
.color-3{
  background: #a5ce72;
  width:5px;
  height:5px;
}

.margin-fecha{
  margin-top: 55px;
}
/*Modal Gasolinera*/
.boton-alta {
  background: #2d9ad5;
  color: #fff;
  font-size: 15px;
  border: 1px solid #2d9ad5 !important;
  padding: 5px 13px;
  height: 45px;
  border: 0px;
  margin-right: 30px !important;
  font-weight: 600;
  width: 220px;
}
.alta-usuario-gas {
  background: white;
  width: 600px;
  margin-left: 0%;
  margin-top: 35%;
  height: 480px;
}
.formato-usuario input[type="text"],input[type="number"], input[type="date"],select,textarea,.file-upload .file-select input[type="file"]{
  font-weight: 600;
  padding: 5px 0 5px 10px;
  margin: 0 0 14px 0;
  width: 100%;
  resize: none;
  color:#4d4d4d;
}
.formato-usuario p {
  color: #4d4d4d;
  text-align: right;
  font-weight: 600;
}
.formato-usuario .titulo {
  text-align: center;
  margin: 20px 0 15px 0;
  font-size: 20px;
  font-weight: 500;
}
.boton-dar-alta {
  width: 300px;
  background: #2d9ad5;
  color: #fff !important;
  padding: 7px 55px;
  border: solid 1px #2d9ad5;
  margin: 20px 0;
  text-align: center !important;
}
.boton-dar-alta:hover {
  background: #fff;
  color: #2d9ad5 !important;
  cursor: pointer;
}
.pad-5 {
  padding: 5px !important;
}
.alta {
  background: white;
  width: 330px;
  margin-left: 15%;
  margin-top: 50%;
  height: 320px;
}
.text-alta {
    color: #676767;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.padding-alta {
    padding: 0 30px;
}
.margin-alta1 {
    margin-top: 35px;
    margin-bottom: 10px;
}
.color-alta {
    margin-top: 20px;
    color: #2f99d5;
    font-size: 14px;
    text-transform: uppercase;
}
.btn-primary-cancelar {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-aceptar-cancelar {
    display: inline-block;
    padding: 5px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    width: 130px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}
.margin-15{
  margin-top: 15px;
}
/*Medias*/
@media only screen and (min-width: 768px) and (max-width: 992px){
.no-pad{
  padding: 0px !important;
}
.alta-usuario-gas {
  height: auto;
}
.boton-dar-alta {
  margin: 20px auto;
}
}
@media only screen and (min-width: 600px) and (max-width: 768px){
.grafica-color {
  float: none !important;
  margin: 0 auto !important;
}
.alta-usuario-gas {
  height: auto;
}
.boton-dar-alta {
  margin: 20px auto;
}
}
@media only screen and (min-width: 200px) and (max-width: 600px){
.alta {
  width: 100%;
  margin-left: 0;
  margin-top: 40%;
}
.grafica-color {
  float: none !important;
  margin: 0 auto !important;
}
.alta-usuario-gas {
  width: 100%;
  height: auto;
  margin-top: 0;
}
.formato-usuario p {
  text-align: left;
}
.boton-dar-alta {
  margin: 20px auto;
  width: 240px;
}
}
