@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i');
.nomargin{
  margin: 0px;
}
.nopadding{
  padding: 0px;
}
/*Usuarios -1*/
.centers{
  text-align:center;
}
.blanco {
  background-color: #ffffff;
}
.border-usuario{
  border-right: 1px solid #cccccc;
}
.text-usuario p{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin-left: 30px;
  padding: 20px 0 20px 0;
}
.text-usuario i{
  color:#2d99d5;
}
.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
  padding: 20px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}
.text-color{
  color:#2d99d5;
  font-family: 'Open Sans', sans-serif;
}
.morado{
  background: #8775a7;
}
.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
  border-top: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
.color-blue {
  color: #2d99d5;
  font-size: 16px;
  padding-top: 0px;
  margin: 0 5px;
}
.usuario-size{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin-right: 5px;
}
.margin-usuario{
  padding-top: 35px;
}
.mayor-usuario {
  color: #3ea1d8;
  font-size: 17px;
  margin-left: 20px;
  margin-right: 5px;
}
.nav-tabs>li>a {
  color: #000;
  margin-right: 2px;
  line-height: 1.42857143;
  border: 1px solid #d3dbdf;
  border-radius: 0;
}
.size-tags a{
  padding: 0 20px;
}
/*Fin Usuarios -1*/
/*Admin perfiles*/
.rights{
  text-align: right;
}
.text-formulario{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 400;
  margin: 20px 0 20px 0;
}

.form-control1 {
    border-color: #d7d7d7;
}
.form-control1 {
    border-radius: 0;
    box-shadow: none;
}
.form-control1 {
    display: block;
    width: 240px;
    height: 40px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-tag {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent;
}
.btn-primary-tag {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
.btn-tag {
    display: inline-block;
    padding: 10px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    width: 240px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 0px;
}
.padding-tag{
  padding: 10px 0px 0 0;
}
.margin-validar{
  margin: 0px;
}
.modal-body{
  background: white;
  width: 260px;
  margin-left: 25%;
  margin-top: 50%;
  height: 200px;
}
.text-sunumero{
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}
.text-numero{
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.btn-aceptar {
  background: #337ab7;
  color: #fff;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  width: 135px;
  margin: 10px auto;
  padding: 10px 0;
}
.btn-aceptar:hover {
  background: #4e9de0;
  color: #fff;
}
.mytabs1 tr th:first-child{
  font-weight: 400;
}
.mytabs1 tr th{
  font-weight: 400;
}
.box-balance {
  padding: 10px;
  width: 250px;
  /* float: right; */
  margin: 25px 0;
  margin-left: 50%;
}
.bg-transferencia {
  background: #2d99d5;
  padding: 13px;
  text-align: center;
}
/*Historial cargas*/
.border-espacio{
  margin-top: 45px;
  border-top: 1px solid #cfd6dc;
}
.select-tanken{
    display: inline-block;
    margin: 0 10px;
    width: 15%;
}
.bg-grafica{
  background: #000;
  height: 16px;
  width: 35px;
}
.color-grafica{
  background:#32c5d2;
  height:5px;
  width:20px;
}
.color-grafica1{
  background:#8eccf4;
  height:5px;
  width:20px;
}
.grafica-color{
  text-align:right;
}
/*****************Medias query********************/
@media only screen and (min-width:992px) and (max-width:1200px){
.box-balance {
  margin-left: 0%;
  margin: 15px 0;
}
.espacio{
  margin-top: 25px;
}
}
@media only screen and (min-width:768px) and (max-width:992px){
.box-balance {
  margin-left: 0%;
  margin: 15px 0;
}
.espacio{
  margin-top: 25px;
}
}
@media only screen and (min-width:600px) and (max-width:768px){
.grafica-color{
  text-align:center;
}
.grafica-color1{
  text-align:center;
  margin-top: 10px;
}
.rights {
  text-align: center;
}
.form-control1 {
  width: 70%;
  margin: 0px 15%;
}
.center-validar{
  text-align: center;
}
.padding-tag {
  padding: 0 15px;
}
.margin-validar {
  margin: 10px 0px;
}
.text-formulario {
  margin: 5px 0 0px 0;
}
.modal-body {
  margin: 50% auto;
}
.text-sunumero {
    margin-top: 25px;
}
.box-balance {
  margin-left: 0%;
}
}
@media only screen and (min-width:200px) and (max-width:600px){
.grafica-center{
  text-align: center;
}
.height-grafica {
  width: 310px !important;
  height: 240px !important;
}
.grafica-color{
  text-align:center;
}
.grafica-color1{
  margin-top: 10px;
  text-align:center;
}
.rights {
  text-align: left;
}
.form-control1 {
  width: 100%;
}
.padding-tag {
  padding: 0 15px;
}
.center-validar{
  text-align: center;
}
.margin-validar {
  margin: 10px 0px;
}
.text-formulario {
  margin: 5px 0 0px 0;
}
.centrar-perfil{
  text-align: center;
}
.modal-body {
  margin: 50% auto;
}
.text-sunumero {
    margin-top: 25px;
}
.box-balance {
  margin-left: 0%;
  margin: 0px 0 20px 0;
}
}
