/*ESTeban Velo*/

/*home*/
body, p, span, ul, li, nav,a, button, input{
    font-family:'Open Sans' ,sans-serif;
}
.mylisti ul li{
    overflow-y: inherit;
    overflow-x: initial;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: 'Open Sans', sans-serif;
}
.content-wrapper {
    background-color: #fff;
}
.rotar{
	transform: rotate(90deg);
}
/*menu*/
.color-azul{
    color:#2d99d5;
    font-size: 20px;
    padding-top: 6px;
}
.skin-blue .wrapper, .skin-blue .main-sidebar, .skin-blue .left-side {
    background-color: #ebebeb;
    overflow-y: hidden;
}
.sidebar-menu>li {
    border: solid 1px #d9d9d9;
    border-right: none;
}
.prueba{
    color:red;
    background: gray;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a {
    color: #fff;
    background: url(img/liston.png) center center no-repeat;
    background-size: cover;
}
.skin-blue .sidebar-menu>li:hover>a, .skin-blue .sidebar-menu>li.active>a, .skin-blue .sidebar-menu>li.menu-open>a i{
    color: #fff;
}

.skin-blue .sidebar a {
    color: #4d4e4e;
}
.sidebar-menu>li>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    color: #2d99d5;
}
.sidebar-menu>li:hover>a>.fa, .sidebar-menu>li>a>.glyphicon, .sidebar-menu>li>a>.ion {
    color: #fff;
}
.skin-blue .sidebar-form input[type="text"], .skin-blue .sidebar-form .btn {
    background-color: #fff;
}
.skin-blue .sidebar-form {
    border-radius: 0px;
    border: 1px solid #cecece;
    margin-top: 28px;
    margin-bottom: 28px;
}
.skin-blue .main-header .logo {
    background-color: #fff;
}
.skin-blue .main-header .logo:hover {
    background-color: #fff;
}
.skin-blue .main-header .navbar {
    background-color: #fff;
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color: #3a9fd8;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    color: #3a9fd8;
    background: rgba(0,0,0,0.1);
}
.main-header {
    position: relative;
    max-height: 100px;
    z-index: 1030;
    box-shadow: #d9d9d9 0px 14px 19px;
}
.skin-blue .main-header .navbar .nav>li>a {
    color: #08090a;
}
.skin-blue .main-header .navbar .nav>li>a:hover, .skin-blue .main-header .navbar .nav>li>a:active, .skin-blue .main-header .navbar .nav>li>a:focus, .skin-blue .main-header .navbar .nav .open>a, .skin-blue .main-header .navbar .nav .open>a:hover, .skin-blue .main-header .navbar .nav .open>a:focus, .skin-blue .main-header .navbar .nav>.active>a {
    background: rgba(0,0,0,0.1);
    color: #08090a;
}
.label-success {
    background-color: #29a8e0 !important;
    border-radius: 50%;
}
.notificaciones-all{
    float: right;
}
.notificaciones-all a{
    color:#444444;
}
.navbar-nav>.notifications-menu>.dropdown-menu, .navbar-nav>.messages-menu>.dropdown-menu, .navbar-nav>.tasks-menu>.dropdown-menu {
    width: 350px;
    padding: 0 0 0 0;
    margin: 0;
    top: 100%;
}
.borde-notificaciones{
    border: 6px solid #f1f1f1;
}

.fondo-notificacions{
    background-color: #f1f1f1 !important;
}
.color-span{
    color: #989799;
}
.align-text{
    padding-left: 23px;
}
.sidebar-mini.sidebar-collapse .sidebar-menu>li:not(.treeview)>a>span span{
    display: none;
}
/*index*/

.centrado{
    text-align: center;
}
.small-box>.inner {
    padding: 10px;
    text-align: right;
    border-radius: 0 18px 0 0;
}
.small-box h3 {
    font-weight: 300;
}
.bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
    background-color: transparent !important;
}
.resumen{
    position: absolute;
    left: 0px;
    top: 10px;
}
.uno{
    background:#f36a5a;
    height: 110px;
}
.dos{
    background: #f3c301;
    height: 110px;
}
.tres{
    background:#588ebd;
    height: 110px;
}
.cuatro{
    background:#33c5d2;
    height: 110px;
}
.cinco{
    background:#588ebd;
    height: 110px;
}
.seis{
    background:#8f44ad;
    height: 110px;
}
table.dataTable {
    white-space: nowrap;
}

.table>caption+thead>tr:first-child>td, .table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>td, .table>thead:first-child>tr:first-child>th {
    border-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.mytabs tr th,a{
    font-weight: 400;
    color: #808080;
}
.mytabs tr th:first-child{
    color: #3598dc;
    font-weight: 400;
}
.mytabs tr th a:first-child{
    color: #3598dc;
    font-weight: 400;
}
div.dataTables_wrapper div.dataTables_paginate {
    margin: 0;
    white-space: nowrap;
    text-align: inherit;
}
.botonActividad{
    background: #2d9ad5;
    color: #fff;
    padding: 7px;
    border: solid 1px #2d9ad5;
    margin: 20px 0;
    text-align: center;
}
.botonActividad:hover{
    background: #fff;
    color: #2d9ad5;
    cursor: pointer;
}

.sidebar-collapse #negro li:hover>a{
    color: #fff;
    background: #2d99d5 !important;
}
.sidebar {
    padding-bottom: 10px;
    margin-top: 20px;
}
.small-box h3 {
    font-size: 36px;
}
.punto{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    position: relative;
    right: 31px;
    top: 22px;
}
.Azul{
    background: #2d9ad5;
}
.Rojo{
    background: #e74f5b;
}
.Verde{
    background: #33c5d2;
}
